---
import path from "path";
import PostMetadata from "../PostMetadata/PostMetadata.astro";
import { Icon } from "astro-icon/components";
import { getDir, getPostUrlBySlug } from "../../../utils/url-utils";
import { type CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import {
	contentWrapper, coverImage,
	coverImageIcon, coverImageIconWrapper, coverImageOverlay,
	coverImageWrapper, postLinkButton, postLinkIcon,
	readingTime,
	subtitleWrapper,
	titleLink,
	wrapper
} from "./PostCard.css";

interface Props {
	post: CollectionEntry<"posts">;
	index: number;
}

const {
	post, index
} = Astro.props;

const {
	title,
	subtitle,
	publishDate,
	image,
	tags
} = post.data;

const url = getPostUrlBySlug(post.slug);

const { remarkPluginFrontmatter } = await post.render();
---

<div class={wrapper} style={{ animationDelay: `calc(var(--content-delay) + ${index * 50}ms)` }}>
	<div class={contentWrapper}>
		<a href={url} class={titleLink}>
			{title}
		</a>

		<PostMetadata
			publishDate={publishDate}
			tags={tags}
		/>

		<div class={subtitleWrapper}>
			{subtitle}
		</div>

		<div class={readingTime}>
			<div>
				{remarkPluginFrontmatter.minutes} minutes read
			</div>
		</div>
	</div>

	<a href={url} aria-label={title} class={coverImageWrapper}>
		<div class={coverImageOverlay}>
			<div class={coverImageIconWrapper}>
				<Icon
					name="material-symbols:chevron-right-rounded"
					class={coverImageIcon}
				/>
			</div>
		</div>

		<Image
			src={image}
			alt="Cover Image of the Post"
			class={coverImage}
		/>
	</a>
</div>
