---
import { lightThemeClass } from '../../../styles/themes.css';
import Head from '../Head/Head.astro';
import InitScripts from '../InitScripts/InitScripts.astro';
import MainGrid from '../MainGrid/MainGrid.astro';
import { body, html } from './BaseLayout.css';

interface Props {
	title?: string;
}

const { title } = Astro.props;

let pageTitle: string;
if (title) {
	pageTitle = `Dor Sharon | ${title}`;
} else {
	pageTitle = 'Dor Sharon';
}
---

<!doctype html>
<html
	lang={"en"}
	class={`${html} ${lightThemeClass}`}
	data-overlayscrollbars-initialize
>
	<Head title={pageTitle} />

	<body class={body} data-overlayscrollbars-initialize>
		<!-- Google Tag Manager (noscript) -->
		<noscript>
			<iframe
				src="https://www.googletagmanager.com/ns.html?id=GTM-M93KV29W"
				height="0"
				width="0"
				style="display:none;visibility:hidden"
			>
			</iframe>
		</noscript>
		<!-- End Google Tag Manager (noscript) -->

		<MainGrid>
			<slot />
		</MainGrid>

		<style is:global>
			@tailwind components;
			@tailwind utilities;

			:root {
				--os-handle-bg: #ffffff80;
			}
		</style>

		<InitScripts />
	</body>
</html>
