---
import { lightThemeClass } from '../../../styles/themes.css';
import GlobalStyles from '../../GlobalStyles.astro';
import Head from '../Head/Head.astro';
import InitScripts from '../InitScripts/InitScripts.astro';
import MainGrid from '../MainGrid/MainGrid.astro';
import { body, html } from './BaseLayout.css';

interface Props {
	title?: string;
}

const { title } = Astro.props;

let pageTitle: string;
if (title) {
	pageTitle = `Dor Sharon | ${title}`;
} else {
	pageTitle = 'Dor Sharon';
}
---

<!doctype html>
<html
	lang={"en"}
	class={`${html} ${lightThemeClass}`}
	data-overlayscrollbars-initialize
>
	<Head title={pageTitle} />

	<body class={body} data-overlayscrollbars-initialize>
		<GlobalStyles />

		<MainGrid>
			<slot />
		</MainGrid>

		<style is:global>
			@tailwind components;
			@tailwind utilities;

			:root {
				--page-width: 75rem;
				--text-primary: #ffffffe6;
				--text-secondary: #ffffff80;
				--page-background: #090e13;
				--card-background: #181e24;
				--os-handle-bg: #ffffff80;

				.dark {
					--text-primary: #ccc;
					--text-secondary: #ffffff80;
					--page-background: #090e13;
					--card-background: #181e24;
				}
			}
		</style>

		<InitScripts />
	</body>
</html>
