---
import Navbar from '@components/navbar/Navbar.astro';
import SideBar from '@components/side-bar/SideBar.astro';
import { onLoadAnimation } from '../../../styles/common-styles.css';
import { card, content, footer, grid, header, sidebar } from './MainGrid.css';
---

<div class={grid}>
	<header class={`${header} ${onLoadAnimation}`}>
		<div class={card}></div>

		<Navbar />
	</header>

	<div class={`${sidebar} ${onLoadAnimation}`}>
		<SideBar />
	</div>

	<div class={`${content} ${onLoadAnimation}`}>
		<main id="swup" class="transition-fade">
			<slot />
		</main>
	</div>

	<footer class={`${footer} ${onLoadAnimation}`}>
		© {new Date().getFullYear()} Dor Sharon.
	</footer>
</div>
