---
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';
import avatarImage from '../../../assets/avatar.jpeg';
import { getUrl } from '../../../utils/url-utils';
import {
	avatar,
	icon,
	link,
	linkButton,
	linkIcon,
	links,
	name,
	overlay,
	rotatingTextWrapper,
	separator,
	wrapper,
} from './Profile.css';
import RotatingText from './RotatingText/RotatingText';
---

<div class={wrapper}>
	<a aria-label="Go to About Page" href={getUrl("/about/")} class={link}>
		<div class={overlay}>
			<Icon name="fa6-regular:address-card" class={icon} />
		</div>

		<Image src={avatarImage} alt="Profile Image" class={avatar} />
	</a>

	<div class={name}>Dor Sharon</div>

	<div class={separator}></div>

	<div class={rotatingTextWrapper}>
		<RotatingText
			client:load
			items={[
				{ label: "Full stack developer", color: "#fb923c" },
				{ label: "React fanboy", color: "#5b9ee9" },
				{ label: "Frontend tech lead", color: "#a78bfa" },
				{ label: "Marvel geek", color: "#34d399" },
				{ label: "bug squasher (and maker)", color: "#d33489" },
			]}
		/>
	</div>

	<div class={links}>
		<a
			rel="me"
			aria-label={'LinkedIn'}
			href={'https://www.linkedin.com/in/dor-sharon'}
			target="_blank"
			class={linkButton}
		>
			<Icon class={linkIcon} name={'logos:linkedin-icon'} />
		</a>

		<a
			rel="me"
			aria-label={'Github'}
			href={'https://github.com/dorsharon'}
			target="_blank"
			class={linkButton}
		>
			<Icon class={linkIcon} name={'logos:github-icon'} />
		</a>
	</div>
</div>
