---
import WidgetLayout from "./WidgetLayout/WidgetLayout.astro";
import ButtonTag from "../../common/ButtonTag.astro";
import { getTagsList } from "../../../utils/content-utils";
import { getUrl } from "../../../utils/url-utils";
import { Icon } from "astro-icon/components";
import {
	button,
	buttonContent,
	collapsed,
	collapseWrapper,
	expandButton,
	title,
	tagsCard,
	tagsWrapper
} from "./Tags.css";
import { onLoadAnimation } from "../../../styles/common-styles.css";

const tags = await getTagsList();
---

<div class={`${tagsCard} ${onLoadAnimation}`} style="animation-delay: 200ms">
	<div class={title}>
		Tags
	</div>

	<div class={tagsWrapper}>
		{
			tags.map((t) => (
				<ButtonTag
					href={getUrl(`/archive/tag/${t.name}/`)}
					label={`View all posts with the ${t.name} tag`}
				>
					{t.name}
				</ButtonTag>
			))
		}
	</div>
</div>


