---
import { getTagsList } from "../../../utils/content-utils";
import { getUrl } from "../../../utils/url-utils";
import {
	tagButton,
	title,
	tagsCard,
	tagsWrapper
} from "./Tags.css";
import { onLoadAnimation } from "../../../styles/common-styles.css";

const tags = await getTagsList();
---

<div class={`${tagsCard} ${onLoadAnimation}`} style="animation-delay: 200ms">
	<div class={title}>
		Tags
	</div>

	<div class={tagsWrapper}>
		{
			tags.map(({ name }) => (
				<a href={getUrl(`/archive/tag/${name}/`)}
				   aria-label={`View all posts with the ${name} tag`}
				   class={tagButton}>
					{name}
				</a>
			))
		}
	</div>
</div>


