---

import { Icon } from 'astro-icon/components';
import {
	cautionTitle,
	cautionWrapper,
	content,
	icon,
	infoTitle,
	infoWrapper,
	tipTitle,
	tipWrapper,
	title,
	titleWrapper,
	warningTitle,
	warningWrapper,
	wrapper,
} from './Alert.css';

interface Props {
	type: 'info' | 'tip' | 'warning' | 'caution';
	title: string;
}

const { type, title: titleLabel } = Astro.props;

let iconName: string;
let wrapperClass: string;

switch (type) {
	case 'info':
		iconName = 'material-symbols:error-outline-rounded';
		wrapperClass = infoWrapper;
		break;
	case 'tip':
		iconName = 'material-symbols:lightbulb-outline-rounded';
		wrapperClass = tipWrapper;
		break;
	case 'warning':
		iconName = 'material-symbols:warning-outline-rounded';
		wrapperClass = warningWrapper;
		break;
	case 'caution':
		iconName = 'material-symbols:brightness-alert-outline-rounded';
		wrapperClass = cautionWrapper;
		break;
	default:
		iconName = 'material-symbols:error-outline-rounded';
		wrapperClass = infoWrapper;
		break;
}
---
<blockquote class={`${wrapper} ${wrapperClass}`}>
	<div class={titleWrapper}>
		<Icon class={icon} name={iconName} />

		<h3 class={title}>{titleLabel}</h3>
	</div>

	<p class={content}><slot/></p>
</blockquote>