---
import { list, title, titleWrapper, wrapper } from './ItemsList.css';

interface Props {
	title: string;
}

const { title: titleLabel } = Astro.props;
---
<blockquote class={wrapper}>
	<div class={titleWrapper}>
		<h3 class={title}>{titleLabel}</h3>
	</div>

	<ul class={list}>
		<slot />
	</ul>
</blockquote>