---
import { Image } from "astro:assets";
import { type CollectionEntry } from "astro:content";
import { Icon } from "astro-icon/components";
import PostMetadata from "../PostMetadata/PostMetadata.astro";
import {
	coverImage,
	card,
	readingTimeIcon,
	readingTimeWrapper,
	title,
	titleWrapper,
	markdownContent, border, wrapper, metadata, subtitle
} from "./PostContent.css";
import { onLoadAnimation } from "../../../styles/common-styles.css";
import MarkdownComponents from "../../markdown/MarkdownComponents.astro";

interface Props {
	post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
const { Content, remarkPluginFrontmatter } = await post.render();
---
<div class={wrapper}>
	<div class={card}>
		<div class={`${readingTimeWrapper} ${onLoadAnimation}`}>
			<div class={readingTimeIcon}>
				<Icon name="material-symbols:schedule-outline-rounded" />
			</div>
			<div class="text-sm">
				{remarkPluginFrontmatter.minutes} minutes read
			</div>
		</div>

		<div class={`${titleWrapper} ${onLoadAnimation}`}>
			<div
				data-pagefind-body
				data-pagefind-weight="10"
				data-pagefind-meta="title"
				class={title}
			>
				{post.data.title}
			</div>

			<div
				data-pagefind-body
				data-pagefind-weight="5"
				data-pagefind-meta="subtitle"
				class={subtitle}
			>
				{post.data.subtitle}
			</div>
		</div>

		<div class={`${metadata} ${onLoadAnimation}`}>
			<PostMetadata
				publishDate={post.data.publishDate}
				tags={post.data.tags}
			/>

			{
				!post.data.image && (
					<div class={border} />
				)
			}
		</div>

		{
			post.data.image && (
				<Image
					src={post.data.image}
					alt="Cover image"
					class={`${coverImage} ${onLoadAnimation}`}
					width={800} height={400}
				/>
			)
		}

		<!--TODO Find a better way to load Markdown components' CSS classes into the head tag-->
		<MarkdownComponents />

		<article data-pagefind-body class={`${markdownContent} ${onLoadAnimation}`}>
			<Content />
		</article>
	</div>
</div>