---
import { getCollection } from 'astro:content';
import { Icon } from 'astro-icon/components';
import { DARK_THEME, LIGHT_THEME, THEME_STORAGE_KEY } from '../../constants/constants';
import { darkThemeClass, lightThemeClass } from '../../styles/themes.css';
import type { NavBarLink } from '../../types/config';
import { getUrl } from '../../utils/url-utils';
import NavMenu from './NavMenu/NavMenu';
import {
	arrowIcon,
	button,
	card,
	endElementsWrapper,
	homeIcon,
	homeLink,
	linksWrapper,
	logoFirstName,
	logoLastName,
	menuIcon,
	navLink,
	searchButtonIcon,
	searchIcon,
	themeIcon,
} from './Navbar.css';
import SearchBar from './SearchBar/SearchBar';
import ThemeSwitch from './ThemeSwitch/ThemeSwitch';

const links: NavBarLink[] = [
	{ name: 'Archive', url: '/archive' },
	{ name: 'About', url: '/about' },
];

const allBlogPosts = await getCollection('posts');
---
<div class={card}>
	<a href={getUrl("/")} class={button}>
		<div class={homeLink}>
			<h3 class={logoFirstName}>{'{dor}'}</h3>
			<h3 class={logoLastName}>{'sharon'}</h3>
		</div>
	</a>

	<div class={linksWrapper}>
		{links.map(({ name, url }) =>
			<a aria-label={name} href={getUrl(url)} class={navLink}>
				{name}
			</a>
		)}
	</div>

	<div class={endElementsWrapper}>
		<SearchBar client:load posts={allBlogPosts}>
			<Icon slot="arrow-icon" name="fa6-solid:chevron-right" class={arrowIcon} />
			<Icon slot="search-input-icon" name="material-symbols:search" class={searchIcon} />
			<Icon slot="search-button-icon" name="material-symbols:search" class={searchButtonIcon} />
		</SearchBar>

		<ThemeSwitch client:load>
			<Icon slot="light-theme-icon" name="material-symbols:wb-sunny-outline-rounded" class={themeIcon} />
			<Icon slot="dark-theme-icon" name="material-symbols:dark-mode-outline-rounded" class={themeIcon} />
			<Icon slot="system-theme-icon" name="material-symbols:radio-button-partial-outline" class={themeIcon} />
			<Icon slot="loading-icon" name="svg-spinners:tadpole" class={themeIcon} />
		</ThemeSwitch>

		<NavMenu client:load links={links} >
			<Icon slot="menu-icon" name="material-symbols:menu-rounded" class={menuIcon} />
		</NavMenu>
	</div>
</div>

<script is:inline type="module" define:vars={{ darkThemeClass, lightThemeClass, DARK_THEME, LIGHT_THEME, THEME_STORAGE_KEY }}>
	let theme;

	if (typeof localStorage !== 'undefined' && localStorage.getItem(THEME_STORAGE_KEY)) {
		theme = localStorage.getItem(THEME_STORAGE_KEY);
	} else {
		theme = window.matchMedia('(prefers-color-scheme: dark)').matches ? DARK_THEME : LIGHT_THEME;
	}

	const isDarkTheme = theme === DARK_THEME;
	
	if (isDarkTheme) {
		document.documentElement.classList.add(darkThemeClass);
		document.documentElement.classList.remove(lightThemeClass);
	} else {
		document.documentElement.classList.add(lightThemeClass);
		document.documentElement.classList.remove(darkThemeClass);
	}
	
	if (typeof localStorage !== 'undefined') {
		const observer = new MutationObserver(() => {
			const isDarkThemeApplied = document.documentElement.classList.contains(darkThemeClass);
			localStorage.setItem(THEME_STORAGE_KEY, isDarkThemeApplied ? DARK_THEME : LIGHT_THEME);
		});
		observer.observe(document.documentElement, { attributes: true, attributeFilter: ['class'] });
	}
</script>

