---
import { Icon } from "astro-icon/components";
import type { NavBarLink } from "../../types/config";
import Search from "./Search.svelte";
import { getUrl } from "../../utils/url-utils";
import ThemeSwitch from "./ThemeSwitch/ThemeSwitch";
import {
	arrowIcon,
	button,
	card,
	homeIcon,
	homeLink,
	linksWrapper,
	navLink,
	searchIcon,
	rightElementsWrapper, switchIcon
} from "./Navbar.css";
import NavMenu from "./NavMenu/NavMenu";

const links: NavBarLink[] = [
	{ name: "Archive", url: "/archive" },
	{ name: "About", url: "/about" }
];
---
<div class={card}>
	<a href={getUrl("/")} class={button}>
		<div class={homeLink}>
			<Icon name="material-symbols:home-outline-rounded" class={homeIcon} />
			Dor Sharon
		</div>
	</a>

	<div class={linksWrapper}>
		{links.map(({ name, url }) =>
			<a aria-label={name} href={getUrl(url)} class={navLink}>
				{name}
			</a>
		)}
	</div>

	<div class={rightElementsWrapper}>
		<Search client:load>
			<Icon slot="search-icon" name="material-symbols:search" class={searchIcon} />
			<Icon slot="arrow-icon" name="fa6-solid:chevron-right" class={arrowIcon} />
			<Icon slot="search-switch" name="material-symbols:search" class={switchIcon} />
		</Search>

		<ThemeSwitch client:only="react" />

		<NavMenu client:load links={links} />
	</div>
</div>

<script is:inline define:vars={{ scriptUrl: getUrl("/pagefind/pagefind.js") }}>
	async function loadPagefind() {
		const pagefind = await import(scriptUrl);
		await pagefind.options({
			"excerptLength": 20
			});
		pagefind.init();
		window.pagefind = pagefind;
		pagefind.search("");     // speed up the first search
		}

		loadPagefind();
</script>