---
import { Icon } from "astro-icon/components";
import type { NavBarLink } from "../../types/config";
import SearchBar from "./SearchBar/SearchBar";
import { getUrl } from "../../utils/url-utils";
import ThemeSwitch from "./ThemeSwitch/ThemeSwitch";
import {
	arrowIcon,
	button,
	card,
	homeIcon,
	homeLink,
	linksWrapper,
	navLink,
	searchIcon,
	endElementsWrapper, searchButtonIcon
} from "./Navbar.css";
import NavMenu from "./NavMenu/NavMenu";
import { getCollection } from "astro:content";

const links: NavBarLink[] = [
	{ name: "Archive", url: "/archive" },
	{ name: "About", url: "/about" }
];

const allBlogPosts = await getCollection("posts");

---
<div class={card}>
	<a href={getUrl("/")} class={button}>
		<div class={homeLink}>
			<Icon name="material-symbols:home-outline-rounded" class={homeIcon} />
			Dor Sharon
		</div>
	</a>

	<div class={linksWrapper}>
		{links.map(({ name, url }) =>
			<a aria-label={name} href={getUrl(url)} class={navLink}>
				{name}
			</a>
		)}
	</div>

	<div class={endElementsWrapper}>
		<SearchBar client:load posts={allBlogPosts}>
			<Icon slot="arrow-icon" name="fa6-solid:chevron-right" class={arrowIcon} />
			<Icon slot="search-input-icon" name="material-symbols:search" class={searchIcon} />
			<Icon slot="search-button-icon" name="material-symbols:search" class={searchButtonIcon} />
		</SearchBar>

		<ThemeSwitch client:only="react" />

		<NavMenu client:load links={links} />
	</div>
</div>
