---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import { Image } from "astro:assets";

type Props = CollectionEntry<"blog">["data"] & { readingTime: string };

const { title, subtitle, publishDate, image, readingTime } = Astro.props;
---

<article>
	<div class="wrapper">
		{
			image && (
				<div class="image-wrapper">
					<Image width={800} height={450} src={image} alt="" />
				</div>
			)
		}

		<div class="title">
			<h2>{title}</h2>

			<h5>{subtitle}</h5>

			<FormattedDate date={publishDate} />

			<h6>{readingTime}</h6>
		</div>

		<hr />

		<slot />
	</div>
</article>

<style>
	.wrapper {
		display: flex;
		flex-direction: column;
		gap: 1em;
	}

	.image-wrapper {
		display: flex;
		justify-content: center;
	}

	.title {
		text-align: center;
	}

	h5 {
		font-style: italic;
	}

	hr {
		width: 100%;
	}
</style>
