---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

const posts = (await getCollection("blog")).sort(
	(a, b) => a.data.publishDate.valueOf() - b.data.publishDate.valueOf(),
);
---

<section>
	{
		posts.map(({ slug, data }) => (
			<a href={`/blog/${slug}/`}>
				<Image
					width={720}
					height={360}
					src={data.image}
					alt={data.title}
				/>
				<h4 class="title">{data.title}</h4>
				<p class="date">{data.publishDate}</p>
			</a>
		))
	}
</section>
